<!DOCTYPE html>
%html
  %head
    %title unikboard

    %link(href='css/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
    %link(href='css/print.css' media='print' rel='stylesheet' type='text/css')
    %link(href='css/unikboard.css' rel='stylesheet' type='text/css')
    /[if lt IE 8]
      %link(href='css/ie.css' media='screen, projection' rel='stylesheet' type='text/css')

  %body
    #container
      hi
    %script(src='js/default.js' type='text/javascript' charset='utf-8')
