<!DOCTYPE html>
%html
  %head
    %title unikboard

    %link(href='css/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
    %link(href='css/print.css' media='print' rel='stylesheet' type='text/css')
    %link(href='css/unikboard.css' rel='stylesheet' type='text/css')
    /[if lt IE 8]
      %link(href='css/ie.css' media='screen, projection' rel='stylesheet' type='text/css')

  %body
    %header
      %h1 Unik Board

    %section#container
      %h2 Vous avez un grain?

      %form#publish(enctype='multipart/form-data' method='POST')
        %input(type='file' id='_attachments' name='_attachments')
        %input(type='submit' value='OK')

      %h3 Derniers grains

    %section#sidebar
      %h2 Revendiquez votre DU!

    %script(src='js/default.js' type='text/javascript' charset='utf-8')
    %script(src='/_utils/script/jquery.form.js' type='text/javascript' charset='utf-8')
