Source: thttpd
Section: web
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 7), dpatch, autotools-dev
Standards-Version: 3.7.3
Homepage: http://www.acme.com/software/thttpd/
Vcs-Browser: http://git.debian.net/?p=thttpd.git
Vcs-Git: git://git.debian.net/git/thttpd.git

Package: thttpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, logrotate
Conflicts: logcheck-database (<< 1.2.62)
Provides: httpd, httpd-cgi
Suggests: thttpd-util
Description: tiny/turbo/throttling HTTP server
 thttpd is a small, fast secure webserver. It features CGI support,
 URL-traffic-based throttling and basic authentication. thttpd has a very small
 memory footprint as it only forks itself in order to execute CGI scripts. It is
 designed to be as fast as fully featured web-servers and it performs extremely
 well under high load.
 .
 This package contains the thttpd server. For thttpd support programs see the
 thttpd-util package.

Package: thttpd-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: thttpd
Description: tiny/turbo/throttling HTTP server (utilities)
 thttpd is a small, fast secure webserver. It features CGI support,
 URL-traffic-based throttling and basic authentication. thttpd has a very small
 memory footprint as it only forks itself in order to execute CGI scripts. It is
 designed to be as fast as fully featured web-servers and it performs extremely
 well under high load.
 .
 This package contains various support utilities for thttpd web-server.
